.switcher {
  margin-top: 14px;
  &-content {
    display: flex;
    align-items: center;
    position: relative;
  }
  &-input {
    height: 18px;
    width: 18px;
    min-width: 18px;
    &:nth-of-type(1) {
      margin-left: 1px;
      margin-top: 0.5px;
    }
    &:nth-of-type(2) {
      margin-left: -5px;
    }
  }
  &-title {
    margin-left: 10px;
  }
  &-toggler {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 33px;
    -webkit-tap-highlight-color: transparent;
    & i {
      position: relative;
      display: inline-block;
      width: 33px;
      height: 20px;
      background-color: #d3d3d3;
      border-radius: 23px;
      vertical-align: text-bottom;
      transition: all 0.3s linear;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: #f5f5f7;
        border-radius: 14px;
        box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
        transform: translate3d(1px, 1px, 0);
        transition: all 0.2s ease-in-out;
      }
    }
    & .bg-checkbox {
      display: none;
      &.active + i {
        background-color: #68cd67;
      }
      &.active + i::after {
        transform: translate3d(14px, 1px, 0);
        box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
