.movies-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1040px;
  padding: 0 20px;
  width: 100%;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  min-height: 358px;
  &-title {
    margin-top: 25px;
  }
  & .dots-spinner-wrapper {
    grid-column: 1/6;
  }
}

@media screen and (max-width: 840px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
