.header {
  display: flex;
  column-gap: 30px;
  &-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    row-gap: 20px;
  }
  &-item {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    &:hover::after {
      width: 100%;
      margin-left: 0;
    }
    &:not(:hover)::after {
      width: 0px;
      margin-left: 50%;
    }
    &::after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: black;
      border-radius: 1px;
      transition: 0.3s;
      margin-left: 50%;
    }
    &.active::after {
      width: 100%;
      margin-left: 0;
    }
  }
  &-current-page {
    font-size: 18px;
  }
}
