.header {
  display: flex;
  column-gap: 30px;
  &-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  &-item {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
}
