@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

body {
  font-family: 'SF UI Text', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
  overflow-y: scroll;
  &.scroll-disabled {
    overflow: hidden;
  }
}
@media (any-pointer: fine) {
  body.scroll-disabled {
    width: calc(100% - 17px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
